
<mat-form-field>
    <mat-label>ID (ONLY FOR UDPATING)</mat-label>
    <input matInput placeholder="0" #id>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Jasmine" #title>
  </mat-form-field>
  <mat-form-field> 
    <mat-label>Description</mat-label>
    <input matInput placeholder="This is popular Flower" #description>
  </mat-form-field>
  <mat-form-field> 
    <mat-label>creator:</mat-label>
    <input matInput type="text" placeholder="enter creator required" required #creator>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input matInput placeholder="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?202201181338" #imageUrl>
  </mat-form-field>
  
  <mat-form-field> 
    <mat-label>type:</mat-label>
    <input matInput type="text" placeholder="Fall/Spring" #type required>
  </mat-form-field>
  
  <mat-form-field> 
    <mat-label>Tags:</mat-label>
    <input matInput type="text" placeholder="not required (tag separate by ,)" #tags >
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" type="submit" (click)="addContent(title.value, imageUrl.value, description.value, creator.value ,type.value , tags.value)">Add Flower</button>
    <button mat-raised-button color="accent" type="submit" (click)="updateContent(id.value, title.value, imageUrl.value, description.value, creator.value ,type.value , tags.value)">Update Flower</button>
  </div>


