

  <mat-card *ngIf="flowerItem">
    <mat-card-title>
        {{ flowerItem?.title }}
    </mat-card-title>

  
     <img mat-card-image (click)="imageClicked()" *ngIf="flowerItem?.imgURL" class="image" [src]="flowerItem?.imgURL">
     <img mat-card-image (click)="imageClicked()" *ngIf="!flowerItem?.imgURL" class="image"  src="https://m.media-amazon.com/images/I/615Aqym222L._AC_SX679_.jpg">
     <mat-card-content>
                        <p>
                        {{ flowerItem?.description }}
                        </p>
                    
                        <mat-card-subtitle class="creator">
                            {{ flowerItem?.creator}}
                        </mat-card-subtitle>
                        <mat-card-subtitle class="type" appHoverAffect="affect1" *ngIf="flowerItem?.type" class="flowerItem?.type">
                            {{ flowerItem?.type }}
                        </mat-card-subtitle>
                        <mat-card-subtitle class="tags"  *ngIf="flowerItem?.tags">
                            <span class="tag" appHoverAffect="affect2" *ngFor="let tag of flowerItem?.tags">
                                #{{ tag }}
                            </span>
                        </mat-card-subtitle>
        </mat-card-content>
        <a [routerLink]="['/content', flowerItem?.id ?? 0]" routerLinkActive="active">
            Content Details
          </a>
</mat-card>