

    <h3 class="title">
        {{ flowerItem?.title }}
    </h3>
    <img (click)="imageClicked()" *ngIf="flowerItem?.imgURL" class="image" [src]="flowerItem?.imgURL">
    <p>
        {{ flowerItem?.description }}
    </p>
    <div class="meta-data">
        <div class="creator">
            {{ flowerItem?.creator}}
        </div>
        <div *ngIf="flowerItem?.type" class="flowerItem?.type">
            {{ flowerItem?.type }}
        </div>
        <div class="tags" *ngIf="flowerItem?.tags">
            <span class="tag" *ngFor="let tag of flowerItem?.tags">
                #{{ tag }}
            </span>
        </div>
    </div>