   
  
  <div class="side-nav">
    <a routerLink="home" routerLinkActive="active" >
      Home Page
    </a>
    <a routerLink="content" routerLinkActive="active">
      Content List
    </a>
    <div class="side-nav-child">
      <a routerLink="content/42" routerLinkActive="active">
        The answer to the universe and everything
      </a>
    </div>
    <a routerLink="pagewillnotbefound" routerLinkActive="active">
      Invalid page link
    </a>
  </div>
  <div id="content-wrapper">
    <router-outlet></router-outlet>
  </div>

<app-messages></app-messages> 