

<h1>{{title}}</h1>

<app-modify-content-component (newContentAdd)="addContentToList($event)"  (updateContentAdd)="updateContentInList($event)"></app-modify-content-component>

<mat-form-field>
    
    <input matInput placeholder="titleValue" #titleValue/>
    <button mat-raised-button  color="primary" (click)="updatePage(titleValue.value)">Search</button>
    <p class="bluetext" *ngIf="Available">{{ Available }}</p>
    <p class="orangetext" *ngIf="NotAvailable">{{ NotAvailable }}</p>
   
</mat-form-field>

<h2>Spring Season</h2>
<app-content-card appHoverAffect="affect3" *ngFor = "let item of (flowerItem | flower:'Spring'  ); index as i" 
[flowerItem] = "item" [class.Spring] = "i+1">
</app-content-card>

<h2>Fall Season</h2>
<app-content-card appHoverAffect="affect3" *ngFor = "let item of (flowerItem | flower:'Fall' ); index as i" 
[flowerItem] = "item" [class.Fall]="i+1">
</app-content-card>

<h2>Flower without Type</h2>
<app-content-card appHoverAffect="affect3" *ngFor = "let item of (flowerItem | flower ); index as i" 
[flowerItem] = "item" >
</app-content-card>